
<nav class="bg-light  w-full z-20 top-0 start-0  border-b border-gray-300 p-2">
  <div class="flex flex-wrap items-center justify-around mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl text-heading font-semibold whitespace-nowrap"><i class="fa-solid fa-briefcase"></i> Goat Store</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
    </button>

    
    
      @if (layout=='auth') {
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
        <li>
          <a routerLink="login" class="block py-2 px-3  bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0" aria-current="page">Login</a>
        </li>
        <li>
          <a routerLink="signup" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Sign up</a>
        </li>
      </ul>
      </div>
      }@else {

        <div class="w-1/2 text-center">
      
    <div class="join">
  <div>
    <label class="input validator join-item">
      
      <input type="email" placeholder="what is in your mind"  required />
    </label>
    <div class="validator-hint hidden">Enter valid email address</div>
  </div>
  <button class="btn btn-neutral join-item bg-main border-none">search</button>
</div>

    </div>

        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary ">
        
        <li>
          <a class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent"><i class="fa-regular fa-user text-2xl"></i><span class="text-gray-400">{{name}}</span></a>
        </li>
        <li>
          <a routerLink="wishlist" class="relative block py-2 px-3 text-heading rounded  hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent text-2xl"><i class="fa-regular fa-heart"></i>
          <!-- <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-400  rounded-full -top-2 -end-2"></div> -->
          </a>
        </li>
        <li>
          <a  routerLink="cart" class="relative block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent text-2xl"><i class="fa-solid fa-cart-shopping"></i>
          <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-400  rounded-full -top-2 -end-2">{{navCounter}}</div>
        </a>
        </li>
        <li>
          <a  (click)="logout()" class="relative block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent text-2xl"><i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        </li>

      </ul>
      </div>
      }
      
    
  </div>
</nav>




@if (layout!='auth') {
  <nav class="bg-light  w-full z-20 top-0 start-0  border-default border-b border-gray-300">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        
        <span class="self-center  text-heading font-semibold whitespace-nowrap"> Browse All Categories </span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <div class=" bg-main  border-transparent focus:ring-4 rounded text-white  shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none">Sale $20 Off Your First Order</div>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
        </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-default rounded-base bg-neutral-secondary-soft md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-neutral-primary">
        
        <li>
          <button routerLink="home" routerLinkActive="text-main" class="cursor-pointer inline-flex items-center justify-center  bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 hover:text-main" type="button">
            home
           </button>
        </li>
        
        <li>
          <button routerLink="product" routerLinkActive="text-main" class="cursor-pointer inline-flex items-center justify-center  bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 hover:text-main" type="button">
            Products
           </button>
        </li>

        <li>
          <button routerLink="blogs" routerLinkActive="text-main" class="cursor-pointer inline-flex items-center justify-center  bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 hover:text-main" type="button">
            Blogs
           </button>
        </li>

        <li>
          <button routerLink="about" routerLinkActive="text-main" class="cursor-pointer inline-flex items-center justify-center  bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 hover:text-main" type="button">
            About
           </button>
        </li>

        <li>
          <button routerLink="contact" routerLinkActive="text-main" class="cursor-pointer inline-flex items-center justify-center  bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 hover:text-main" type="button">
            Contact
           </button>
        </li>


       
        
       

        
        
      </ul>
    </div>
  </div>
</nav>
}


